## Ejemplo 6: Sort

### 1. Objetivos:
    - Aprender a usar `sort_values` para reordenar nuestros datos
 
### 2. Desarrollo:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('new_york_times_bestsellers-dirty.csv', index_col=0)
df.head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95

Finalmente veamos como podemos ordenar los elementos de una DataFrame, por ejemplo, queremos ordenar nuestras entradas empezando por el libro de mayor precio hasta el libro de menor precio, así que se ordena en base a la columna `price.numberDouble` de manera descendente usando la siguiente forma de la función `sort_values()`:

`dataframe.sort_values(-columna-, ascending=False)`

In [3]:
df.sort_values("price.numberDouble", ascending=False)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
2264,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbff5,2011-12-03 00:00:00,1324166400000,11,12,6,30.50
2255,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbfe2,2011-11-26 00:00:00,1323561600000,12,10,5,30.50
2276,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dc00b,2011-12-10 00:00:00,1324771200000,13,11,7,30.50
2287,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dc01e,2011-12-17 00:00:00,1325376000000,12,13,8,30.50
2232,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbfb4,2011-11-12 00:00:00,1322352000000,6,6,3,30.50
...,...,...,...,...,...,...,...,...,...,...,...,...
2205,http://www.amazon.com/1225-Christmas-Tree-Lane...,Debbie Macomber,Descr: Puppies and an ex-husband loom large in...,Mira,1225 CHRISTMAS TREE LANE,5b4aa4ead3089013507dbf81,2011-10-22 00:00:00,1320537600000,15,10,4,16.95
237,http://www.amazon.com/Cedar-Cove-Christmas-Deb...,Debbie Macomber,Descr: A pregnant woman shows up in Cedar Cove...,Mira,A CEDAR COVE CHRISTMAS,5b4aa4ead3089013507db30d,2008-10-04 00:00:00,1224374400000,7,0,1,16.95
1343,http://www.amazon.com/Blockade-Billy-Stephen-K...,Stephen King,"Descr: A tale about the dark side of baseball,...",Scribner,BLOCKADE BILLY,5b4aa4ead3089013507db9f6,2010-06-13 00:00:00,1277596800000,16,13,3,14.99
1310,http://www.amazon.com/Blockade-Billy-Stephen-K...,Stephen King,"Descr: A tale about the dark side of baseball,...",Simon & Schuster,BLOCKADE BILLY,5b4aa4ead3089013507db9c7,2010-05-30 00:00:00,1276387200000,9,0,1,14.99
1328,http://www.amazon.com/Blockade-Billy-Stephen-K...,Stephen King,"Descr: A tale about the dark side of baseball,...",Scribner,BLOCKADE BILLY,5b4aa4ead3089013507db9df,2010-06-06 00:00:00,1276992000000,13,9,2,14.99

Si ordenamos en base a `published_date.numberLong` podemos también obtener la lista desde la publicación más antigua hasta la publicación más reciente:

In [4]:
df.sort_values("published_date.numberLong")

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95
...,...,...,...,...,...,...,...,...,...,...,...,...
3026,http://www.amazon.com/Dont-Go-Lisa-Scottoline-...,Lisa Scottoline,Descr: An Army doctor returns from Afghanistan...,St. Martin's,DON'T GO,5b4aa4ead3089013507dc591,2013-04-20 00:00:00,1367712000000,7,2,2,27.99
3027,http://www.amazon.com/Unintended-Consequences-...,Stuart Woods,Descr: The New York lawyer Stone Barrington di...,Putnam,UNINTENDED CONSEQUENCES,5b4aa4ead3089013507dc592,2013-04-20 00:00:00,1367712000000,8,4,2,26.95
3028,http://www.amazon.com/Six-Years-Harlan-Coben/d...,Harlan Coben,Descr: Jake Fisher discovers that neither the ...,Dutton,SIX YEARS,5b4aa4ead3089013507dc593,2013-04-20 00:00:00,1367712000000,9,8,5,27.95
3029,http://www.amazon.com/The-Interestings-Novel-M...,Meg Wolitzer,Descr: Six friends meet in the 1970s at a summ...,Riverhead,THE INTERESTINGS,5b4aa4ead3089013507dc595,2013-04-20 00:00:00,1367712000000,11,11,2,27.95
3031,http://www.amazon.com/The-Storyteller-Jodi-Pic...,Jodi Picoult,Descr: A New Hampshire baker finds herself in ...,Emily Bestler/Atria,THE STORYTELLER,5b4aa4ead3089013507dc598,2013-04-20 00:00:00,1367712000000,14,10,8,28.99

Pero como seguramente no lo crees aún porque estamos usando la columna del Timestamp, vamos a convertir la fechas a datetime con el método:

`pd.to_datetime(-dataframe[columna]-, unit="ms")`

y aplicarlo desde el DataFrame original, ordenamos nuevamente y obtenemos un DataFrame sólo con las columnas `amazon_product_url` y `published_date.numberLong` para simplificar el resultado:

In [5]:
df["published_date.numberLong"] = pd.to_datetime(df["published_date.numberLong"], unit="ms")

df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,2008-06-08,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,2008-06-08,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,2008-06-08,7,4,3,26.95

In [8]:
df_ordenado = df.sort_values("published_date.numberLong")

df_ordenado[[ "amazon_product_url","published_date.numberLong"]]

,amazon_product_url,published_date.numberLong
0,http://www.amazon.com/The-Host-Novel-Stephenie...,2008-06-08
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,2008-06-08
2,http://www.amazon.com/The-Front-Garano-Patrici...,2008-06-08
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,2008-06-08
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,2008-06-08
...,...,...
3026,http://www.amazon.com/Dont-Go-Lisa-Scottoline-...,2013-05-05
3027,http://www.amazon.com/Unintended-Consequences-...,2013-05-05
3028,http://www.amazon.com/Six-Years-Harlan-Coben/d...,2013-05-05
3029,http://www.amazon.com/The-Interestings-Novel-M...,2013-05-05
3031,http://www.amazon.com/The-Storyteller-Jodi-Pic...,2013-05-05

**NOTA PYTHONESCA:** Para trabajar con fechas se pueden usar los tipos de datos `datetime` o `int` (en alguna unidad de segundos), el ordenamiento u otra operación se realizará de forma correcta, pero procesar fechas de tipo `object` o `str` podríamos obtener resultados inesperados.

Por ejemplo, podríamos primero filtrar para sólo tener los libros de la editorial que tiene más libros como 'best sellers' usando la columna `publisher` y después ordenarlos del que pasó más días en la lista de 'best sellers' al que pasó menos días en la lista usando la columna `weeks_on_list.numberInt`.

Primero encontramos la editorial con más bestsellers con el método:

`dataframe[-columna-].value_counts()`

In [9]:
df["publisher"].value_counts()

Putnam                                     267
Grand Central                              227
Knopf                                      216
Little, Brown                              211
Doubleday                                  153
                                          ...
Morrow/HarperCollins Publishers              1
Orbit                                        1
Harper Voyager/HarperCollins Publishers      1
Penguin Group (USA) Incorporated             1
Berkeley Prime Crime                         1
Name: publisher, Length: 69, dtype: int64

Filtra sólo los que perteneces a la editorial encontrada (Putnam?) usando la aplicación de filtros con:

`dataframe[ dataframe[-columna-] op -valor- ]`

In [10]:
df_1 =  df[ df["publisher"]=="Putnam" ]
df_1.head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,2008-06-08,4,0,1,22.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,2008-06-08,7,4,3,26.95
17,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db1a5,2008-05-31 00:00:00,2008-06-15,7,4,2,22.95

Ordenando en base a la cantidad de días como bestsellers usando:

`dataframe.sort_values(-columna-, ascending=False)`

In [12]:
df.sort_values("weeks_on_list.numberInt", ascending=False)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
2130,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Descr: A young white woman and two black maids...,Amy Einhorn/Putnam,THE HELP,5b4aa4ead3089013507dbf07,2011-09-10 00:00:00,2011-09-25,13,9,108,24.95
2117,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Descr: A young white woman and two black maids...,Amy Einhorn/Putnam,THE HELP,5b4aa4ead3089013507dbeef,2011-09-03 00:00:00,2011-09-18,9,8,107,24.95
2103,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Descr: A young white woman and two black maids...,Amy Einhorn/Putnam,THE HELP,5b4aa4ead3089013507dbeda,2011-08-27 00:00:00,2011-09-11,8,4,106,24.95
2087,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Descr: A young white woman and two black maids...,Amy Einhorn/Putnam,THE HELP,5b4aa4ead3089013507dbec2,2011-08-20 00:00:00,2011-09-04,4,11,105,24.95
2081,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Descr: A young white woman and two black maids...,Amy Einhorn/Putnam,THE HELP,5b4aa4ead3089013507dbeb5,2011-08-13 00:00:00,2011-08-28,11,0,104,24.95
...,...,...,...,...,...,...,...,...,...,...,...,...
414,http://www.amazon.com/Beat-Reaper-Novel-Josh-B...,Josh Bazell,Descr: A former hit man for the mob who has be...,"Little, Brown",BEAT THE REAPER,5b4aa4ead3089013507db440,2009-01-17 00:00:00,2009-02-01,14,0,1,24.99
2257,http://www.amazon.com/The-Drop-Harry-Bosch-Nov...,Michael Connelly,Descr: Harry Bosch of the L.A.P.D. uncovers bo...,"Little, Brown",THE DROP,5b4aa4ead3089013507dbfeb,2011-12-03 00:00:00,2011-12-18,1,0,1,27.99
1393,http://www.amazon.com/The-Rembrandt-Affair-Gab...,Daniel Silva,Descr: The art restorer and assassin Gabriel A...,Putnam,THE REMBRANDT AFFAIR,5b4aa4ead3089013507dba5f,2010-07-25 00:00:00,2010-08-08,No Rank,0,1,26.95
633,http://www.amazon.com/Road-Dogs-Novel-Elmore-L...,Elmore Leonard,"Descr: Cundo Rey and Jack Foley, characters fr...",William Morrow,ROAD DOGS,5b4aa4ead3089013507db593,2009-05-16 00:00:00,2009-05-31,13,0,1,26.99
1083,http://www.amazon.com/The-Wolf-Door-Jack-Higgi...,Jack Higgins,Descr: Someone is targeting the members of an ...,Putnam,THE WOLF AT THE DOOR,5b4aa4ead3089013507db85e,2010-01-24 00:00:00,2010-02-07,8,0,1,26.95

---
---

## Reto 6: Sort

### 1. Objetivos:
    - Practicar el uso de `sort_values` para obtener datos específicos
    
### 2. Desarrollo:

#### a) Reordenamiento para hallazgo de valores

Vamos a trabajar sobre el dataset que guardaste en la sesión anterior. Tu Reto consiste en lo siguiente:

1. Usa `sort_values` y `loc` para obtener el valor de la velocidad en kilómetros por segundo más lenta de todos los objetos que tenemos en el dataset y asígnalo a `velocidad_en_kilometros_por_segundo_de_objeto_mas_lento`.
2. Usa `sort_values` y `loc` para obtener el valor del diámetro más grande medido que existe en nuestro dataset y asígnalo a `medida_de_diametro_mas_grande`

In [40]:
df_reto_6 = pd.read_csv("objetos_cercanos_4.csv", index_col=0)
df_reto_6.head(3)

,Unnamed: 0.1,Unnamed: 0.1.1,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,0,0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.467580,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,1,1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.491340,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017
2,2,3,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07 00:00:00.000000,1970-01-01 00:13:09.513900,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917,0.000008

In [43]:
df_ordenado=df_reto_6.sort_values(by="relative_velocity.kilometers_per_second", ascending=True)
#velocidad_en_kilometros_por_segundo_de_objeto_mas_lento = df_ordenado.loc[0]
velocidad_en_kilometros_por_segundo_de_objeto_mas_lento = df_ordenado.iloc[0]["relative_velocity.kilometers_per_second"]
velocidad_en_kilometros_por_segundo_de_objeto_mas_lento

0.681436673

In [45]:
df_ordenado=df_reto_6.sort_values("estimated_diameter.meters.estimated_diameter_max", ascending=False)
#velocidad_en_kilometros_por_segundo_de_objeto_mas_lento = df_ordenado.loc[0]
medida_de_diametro_mas_grande =  df_ordenado.iloc[0]["estimated_diameter.meters.estimated_diameter_max"]
medida_de_diametro_mas_grande

6516.883821679

En este caso la celda de valición si comprueba si tus resultados son correctos, adelante ...

In [46]:
def corroborar_hallazgos(velocidad_en_kilometros_por_segundo_de_objeto_mas_lento, medida_de_diametro_mas_grande):
    
    assert velocidad_en_kilometros_por_segundo_de_objeto_mas_lento == 0.681436673, 'Esa no es la velocidad en kilómetros por segundo del objeto más lento'
    assert medida_de_diametro_mas_grande == 6516.883821679, 'Ese no es el diámetro más grande medido en nuestro dataset'
    
    print('Tus hallazgos son correctos. ¡Bien hecho!')
    
corroborar_hallazgos(velocidad_en_kilometros_por_segundo_de_objeto_mas_lento, medida_de_diametro_mas_grande)

Tus hallazgos son correctos. ¡Bien hecho!